<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>

  <ul>
    <li class="list-group-item list-group-item-primary">
      <app-string-interpolation></app-string-interpolation>
    </li>
    <li class="list-group-item list-group-item-secondary">
      <app-property-binding></app-property-binding>
    </li>
    <li class="list-group-item list-group-item-success">
      <app-event-binding></app-event-binding>
    </li>
    <li class="list-group-item list-group-item-danger">
      <app-two-way-databinding></app-two-way-databinding>
    </li>
    <li class="list-group-item list-group-item-warning"><app-local-references></app-local-references></li>
  </ul>
</div>